In [1]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_colwidth', 40)
pd.set_option('display.precision', 5)
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 30)

In [2]:
dict_columns = {
    'contents' :['Author','Book','Target','No_Donation'],
    'infos' :['Nguyen Van Tuan Anh' , 'abc' , 'AI' , 'Comunity'],
    'numbers' :[2007,2025,1,2]
}
df = pd.DataFrame(dict_columns)
display(df)

      contents                infos  numbers
0       Author  Nguyen Van Tuan Anh     2007
1         Book                  abc     2025
2       Target                   AI        1
3  No_Donation             Comunity        2