In [1]:
#Cai dat thu vien pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\legion\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\legion\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\legion\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\legion\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\legion\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\legion\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\LEGION\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [28]:
import pandas as pd
from tabulate import tabulate

In [4]:
# Tao Dataframe tu Dictionary
dict = {'Name' : ['Thang','Anh'],'Diem' :[9,10]}
df = pd.DataFrame(dict)
df

    Name  Diem
0  Thang     9
1    Anh    10

In [5]:
#Load tu file 
df_a = pd.read_csv('data\\a.csv',sep=';')
df_a

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [6]:
#Load tu file b.csv
df_b = pd.read_csv('data\\b.csv')
df_b

  Login email;Identifier;First name;Last name
0           laura@example.com;2070;Laura;Grey
1        craig@example.com;4081;Craig;Johnson
2          mary@example.com;9346;Mary;Jenkins
3          jamie@example.com;5079;Jamie;Smith

In [8]:
df_b.to_csv('data\\b_play.csv')

df_a

In [26]:
df_a.loc[3]

Username; Identifier;First name;Last name    jenkins46;9346;Mary;Jenkins
Name: 3, dtype: object

In [29]:
df_a

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

df_a['Username']

In [27]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\LEGION\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip